# Requested files not to include: source data files, csv files, and Excel files.
*.csv
*.xlsx
*.sql

#credentials
.env

#ignore the code for external libraries
node_modules/

#ignore the local database container
idx-mysql-local/
