/* main page style */
.mainStyle {
	background-color: #212121;
	min-height: 100vh;
	width: auto;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

/* header style */
.headerBackground {
	background-color: #BABABA;
	padding: 15px 20px;
	border-bottom: 1px solid #EAEAEA;
}

/* header 1 style */
.header {
	margin: 0;
	font-size: 1.5rem;
	color: #0056B3;
}


